# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
# Define que qualquer commit na branch 'main' dispara a pipeline
trigger:
- main

resources:
- repo: self

variables:
  # --- ÁREA DE CONFIGURAÇÃO (Edite aqui) ---
  # Nome exato da conexão criada no Passo 2
  dockerRegistryServiceConnection: 'ConexaoDockerHub' 
  
  # Formato: seu-usuario-dockerhub/nome-da-imagem
  imageRepository: 'feliperesendebr/unyleya_projeto_hub_docker' 
  
  # Caminho do Dockerfile no seu GitHub (ponto significa raiz)
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  
  # Define que usaremos uma máquina Ubuntu da Microsoft
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and Push Stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    # A Task Docker@2 gerencia login, build, tag e push automaticamente
    - task: Docker@2
      displayName: Build and Push to Docker Hub
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(Build.BuildId)
          latest