# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
# Define que qualquer commit na branch 'main' dispara a pipeline
trigger:
- main

resources:
- repo: self

pool:
  #name: 'Default' -- pra uso com Docker
  vmImage: 'windows-2019'
  
variables:
  # --- ÁREA DE CONFIGURAÇÃO (Edite aqui) ---
  # Nome exato da conexão criada no Passo 2
  dockerRegistryServiceConnection: 'ConexaoDockerHub' 
  imageRepository: 'feliperesendebr/unyleya_projeto_hub_docker' 
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'
  webAppName: 'unyleya-app-b327c3fd'
  

stages:
- stage: Build
  displayName: Build and Push Stage
  jobs:
  - job: Build
    displayName: Build
    steps:
    # A Task Docker@2 gerencia login, build, tag e push automaticamente
    - task: Docker@2
      displayName: Build and Push to Docker Hub
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest

- stage: Deploy
  displayName: Deploy Stage
  dependsOn: Build 
  jobs:
  - deployment: Deploy
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
            - task: AzureWebAppContainer@1
              inputs:
                azureSubscription: 'ConexaoAzure'
                appName: '$(webAppName)'
                #containers: 'feliperesendebr/unyleya_projeto_hub_docker:$(tag)'
                imageName: '$(imageRepository):$(tag)'